In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/nilou/Documents/MSc Data Analytics/Dissertation project/Second topic sources/Desktop/nilou.csv')
df2 = pd.read_csv('/Users/nilou/Documents/MSc Data Analytics/Dissertation project/Second topic sources/Desktop/nilou01.csv')

/var/folders/zl/jhj123451rqgttjyx7g_2ypw0000gn/T/ipykernel_29342/1336374710.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/Users/nilou/Documents/MSc Data Analytics/Dissertation project/Second topic sources/Desktop/nilou.csv')
/var/folders/zl/jhj123451rqgttjyx7g_2ypw0000gn/T/ipykernel_29342/1336374710.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/Users/nilou/Documents/MSc Data Analytics/Dissertation project/Second topic sources/Desktop/nilou01.csv')

In [3]:
df = pd.concat([df2, df1], ignore_index=True)

In [4]:
df.shape

(72385062, 16)

In [5]:
df_columns_dropped = df.drop(columns = ['TFPhoneNumber'])

In [20]:
df_columns_dropped = df.drop(columns = ['SubmitCompleteDuration', 'TFProductId', 'TFIschargeok', 'TFPhoneNumber', 'TFAmountWithDiscount','TFProviderRespDuration', 'TFServiceRespDuration','TFID'])

In [7]:
df_columns_dropped.shape

(72385062, 9)

In [12]:
df_columns_dropped.head(10)

,TFID,TFUserId,TFAmount,ResultCode,TFDateReserved,TFOperator,TFStatus,TFProviderRespDurationForReserve,TFServiceRespDurationForReserve
0,66044082,1028,100000.0,-5,2023-01-01 00:00:10.490000000,MTN,0,0,14
1,66044083,1028,50000.0,-5,2023-01-01 00:00:14.130000000,MCI,0,423,436
2,66044084,1028,200000.0,-5,2023-01-01 00:00:24.540000000,MTN,0,0,9
3,66044085,1028,200000.0,-5,2023-01-01 00:00:26.707000000,MCI,0,603,649
4,66044086,1028,200000.0,-5,2023-01-01 00:00:28.683000000,MTN,0,0,10
5,66044087,1028,51000.0,-5,2023-01-01 00:00:31.453000000,MTN,0,0,10
6,66044088,1028,50000.0,-5,2023-01-01 00:00:32.427000000,MTN,0,0,13
7,66044089,1028,100000.0,-5,2023-01-01 00:00:51.150000000,MTN,0,0,10
8,66044090,1028,200000.0,-5,2023-01-01 00:01:02.423000000,MCI,0,374,383
9,66044091,1028,50000.0,-5,2023-01-01 00:01:03.963000000,MTN,0,0,8

In [16]:
df_columns_dropped['TFDateReserved'] = pd.to_datetime(df_columns_dropped['TFDateReserved'], errors='coerce')

# Identify problematic entries (NaT values)
problematic_entries = df_columns_dropped[df_columns_dropped['TFDateReserved'].isnull()]['TFDateReserved']

# Optionally, you can print or further inspect the problematic entries
#print("Problematic entries:", problematic_entries)

In [17]:
df['TFDateReserved'] = pd.to_datetime(df['TFDateReserved'])

In [18]:
# Assuming 'TFDateReserved' is in datetime format
filtered_df = df_columns_dropped[df_columns_dropped['TFDateReserved'].dt.date == pd.to_datetime('2023-03-19').date()]

# Display the head of the filtered DataFrame

             TFID  TFUserId  TFAmount ResultCode          TFDateReserved  \
2357772  68401856      1030  400000.0      50016 2023-03-19 00:00:08.880
2357773  68401857      1028  201000.0      50016 2023-03-19 00:00:15.937
2357774  68401858      1028  100000.0      50016 2023-03-19 00:00:18.020
2357775  68401859      1028  200000.0         -5 2023-03-19 00:00:23.613
2357776  68401860      1028  100000.0      50016 2023-03-19 00:00:30.050

        TFOperator  TFStatus  TFProviderRespDurationForReserve  \
2357772        MTN         0                                 0
2357773        MTN         0                                 0
2357774        MTN         0                                 0
2357775        RAY         0                                 0
2357776        MTN         0                                 0

         TFServiceRespDurationForReserve
2357772                                0
2357773                                0
2357774                                0
2357775                              111
2357776                                0

In [19]:
filtered_df.head()

,TFID,TFUserId,TFAmount,ResultCode,TFDateReserved,TFOperator,TFStatus,TFProviderRespDurationForReserve,TFServiceRespDurationForReserve
2357772,68401856,1030,400000.0,50016,2023-03-19 00:00:08.880,MTN,0,0,0
2357773,68401857,1028,201000.0,50016,2023-03-19 00:00:15.937,MTN,0,0,0
2357774,68401858,1028,100000.0,50016,2023-03-19 00:00:18.020,MTN,0,0,0
2357775,68401859,1028,200000.0,-5,2023-03-19 00:00:23.613,RAY,0,0,111
2357776,68401860,1028,100000.0,50016,2023-03-19 00:00:30.050,MTN,0,0,0

In [8]:
df_columns_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72385062 entries, 0 to 72385061
Data columns (total 9 columns):
 #   Column                            Dtype
---  ------                            -----
 0   TFID                              int64
 1   TFUserId                          int64
 2   TFAmount                          float64
 3   ResultCode                        object
 4   TFDateReserved                    object
 5   TFOperator                        object
 6   TFStatus                          int64
 7   TFProviderRespDurationForReserve  int64
 8   TFServiceRespDurationForReserve   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 4.9+ GB

In [22]:
df_columns_dropped.duplicated().sum()

201841

In [11]:
#cleaned_df = df_columns_dropped.to_csv('/Users/nilou/Documents/MSc Data Analytics/Dissertation project/Second topic sources/Desktop/cleaned_TransactionData.csv', index=False)